.header {
  background-color: #2370f4;
  height: 56px;
}
.top-bar {
  padding: 10px;
  display: flex;
}
.item {
  flex-grow: 1;
}
.top-bar-start {
  display: flex;
  flex-basis: 14%;
}
.top-bar-img {
  display: block;
  flex-basis: 8%;
}
.flipkart-explore{
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 12px;
}
.flipkart-explore-span{
  color: #ffe500;
  margin-left: 2px;
}
.flipkart-plus-img{
  display: flex;
  height: 12px;
  width: 13px;
}
.top-bar-input {
  display: flex;
  flex-basis: 38%;
}
.top-bar-button{
  display: flex;
  flex-basis: 12%;
  align-items: center;
}
.top-bar-seller {
  display: flex;
  flex-basis: 12%;
}
.top-bar-more {
  display: flex;
  flex-basis: 7%;
}
.top-bar-cart {
  display: flex;
  flex-basis: 13%;

}
.top-bar-end {
  display: flex;
  flex-basis: 5%;

}
.img-top-bar {
  height: 20px;
  display: block;
}
.input-top-bar {
  height: 2rem;
  width: 27rem;
  border-radius: 5px;
  border-color: white;
  align-items: center;
}
.button-top-bar {
  height: 2rem;
  width: 8rem;
  background-color: white;
  color: #2370f4;
  font-size: 15px;
  font-weight: bold;
  border-color: white;
  align-items: center;
}
.span-header {
  color: white;
  font-weight: bold;
  padding: 10px;
}
