.menu{
    display: flex;
    flex-grow: 1;
    margin-left: 90px;
    margin-top: 10px;
    box-shadow: 2px 2px 4px white;
}
.menuItem{
    flex-basis: 130px;

}
.menu-img{
  height: 64px;
  width: 64px;
}
.menu-name{
    display: block;
    font-weight: 500;
    font-size: 14px;
}