.header {
  background-color: #2370f4;
  height: 56px;
}
.top-bar {
  padding: 10px;
  display: flex;
}
.item {
  flex-grow: 1;
}
.top-bar-start {
  display: flex;
  flex-basis: 14%;
}
.top-bar-img {
  display: flex;
  height: 25px;
  flex-basis: 9%;
}
.top-bar-input {
  display: flex;
  flex-basis: 38%;
}
.top-bar-img-button{
  display: flex;
  flex-basis: 12%;
}
.top-bar-img-seller {
  display: flex;
  flex-basis: 12%;


}
.top-bar-img-more {
  display: flex;
  flex-basis: 10%;

}
.top-bar-img-cart {
  display: flex;
  flex-basis: 10%;

}
.top-bar-end {
  display: flex;
  flex-basis: 5%;

}
.img-top-bar {
}
.input-top-bar {
  height: 2rem;
  width: 27rem;
  border-radius: 5px;
  border-color: white;
  align-items: center;
}
.button-top-bar {
  height: 2rem;
  width: 8rem;
  background-color: white;
  color: #2370f4;
  font-size: 15px;
  font-weight: bold;
  border-color: white;
  align-items: center;
}
span {
  color: white;
  font-weight: bold;
  padding: 10px;
}
